<div class="md:flex md:justify-center mt-40 mb-12">
  <h1 class="text-4xl">Pick Flight</h1>
</div>

<div class="md:flex md:justify-center mb-6">
  <%= form_with url: flights_index_path, method: "get", class: "w-full max-w-sm" do %>
    <%= label_tag(:from_airport_id, "From:") %>
    <%= collection_select(:search, :from_airport_id, Airport.all, :id, :name, { include_blank: 'Please select' }, { class: "mb-6 block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" }) %>

    <%= label_tag(:to_airport_id, "To:") %>
    <%= collection_select(:search, :to_airport_id, Airport.all, :id, :name, { include_blank: 'Please select' }, { class: "mb-6 block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" }) %>

    <%= label_tag(:to_airport_id, "Date:") %>
    <%= date_field :search, :date, { value: Time.now.strftime('%d -%m- %Y'), as: :string, class: "mb-6 block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" } %>
    
    <%= submit_tag("Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") %>
  <% end %>
</div>